@use "/.theme" as *;

.header {
}

.aside {
  display: grid;
  grid-template-columns: max-content var(--space-a12) max-content;
  align-items: center;
  gap: var(--space-a01);

  width: var(--space-a12);

  &__photo {
    width: var(--space-a08);
    height: var(--space-a08);
    background-color: var(--color-surface-300);
    border-radius: var(--rounded-full);
  }
}
