@use "/.theme" as *;
@use "styles/tokens/" as *;
@use "styles/config/" as *;

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  padding: var(--space-1);
  border-radius: var(--rounded);

  background-color: var(--clr-surface-100);

  // overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    inset: var(--space-1);
    border-radius: var(--rounded);
    background-color: var(--clr-surface-200, 0.99);
    // backdrop-filter: blur(5rem);
    z-index: var(--layer-negative-1);
  }
  &::after {
    content: "";
    position: fixed;
    inset: var(--space-0);

    background-image: linear-gradient(
      0deg,
      transparent 10%,
      var(--clr-surface-700, 0.75) 50%,
      transparent 90%
    );

    z-index: var(--layer-negative-2);
    animation: infinite-spinning 10s linear infinite;
  }
}

@keyframes infinite-spinning {
  0% {
    transform: scaleX(2) rotate(0deg);
  }
  100% {
    transform: scaleX(2) rotate(360deg);
  }
}
